{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-multisafepay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-multisafepay" class="form-horizontal">
                    <ul class="nav nav-tabs" id="tabs">
                        {% for store in stores %}
                            <li class="tab-pane {{ store.store_id == 0 ? 'active' : '' }}"><a href="#tab-store-{{ store.store_id }}" data-toggle="tab">{{ store.name }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for store in stores %}
                            <div class="tab-pane fade in {{ store.store_id == 0 ? 'active' : '' }}" id="tab-store-{{ store.store_id }}">

                                <!--Module status-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_mastercard_status">{{ entry_status }}</label>
                                    <div class="col-sm-10">

                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_mastercard_status]" id="payment_multisafepay_mastercard_status" class="form-control">

                                            {% if stores[store.store_id].payment_multisafepay_mastercard_status %}
                                                <option value="1" selected="selected">Enabled</option>
                                                <option value="0">Disabled</option>
                                            {% else %}
                                                <option value="1">Enabled</option>
                                                <option value="0" selected="selected">Disabled</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Min/Max amount-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_mastercard_min_amount"><span>{{ entry_min_amount }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_mastercard_min_amount]" value="{{ stores[store.store_id].payment_multisafepay_mastercard_min_amount }}" id="payment_multisafepay_mastercard_min_amount" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_mastercard_max_amount"><span>{{ entry_max_amount }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_mastercard_max_amount]" value="{{ stores[store.store_id].payment_multisafepay_mastercard_max_amount }}" id="payment_multisafepay_mastercard_max_amount" class="form-control" />
                                    </div>
                                </div>

                                <!--Geo-Zone-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_mastercard_geo_zone_id">{{ text_all_zones }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_mastercard_geo_zone_id]" id="payment_multisafepay_mastercard_geo_zone_id" class="form-control">
                                            <option value="0">{{ text_all_zones }}</option>
                                            {% for geo_zone in geo_zones %}
                                                {% if geo_zone.geo_zone_id == stores[store.store_id].payment_multisafepay_mastercard_geo_zone_id %}
                                                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                                {% else %}
                                                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>

                                <!--Sorting-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_mastercard_sort_order">{{ entry_sort_order }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_mastercard_sort_order]" value="{{ stores[store.store_id].payment_multisafepay_mastercard_sort_order }}" id="payment_multisafepay_mastercard_sort_order" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

