{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-multisafepay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-multisafepay" class="form-horizontal">
                    <ul class="nav nav-tabs" id="tabs">
                        {% for store in stores %}
                            <li class="tab-pane fade in {{ store.store_id == 0 ? 'active' : '' }}"><a href="#tab-store-{{ store.store_id }}" data-toggle="tab">{{ store.name }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for store in stores %}
                            <div class="tab-pane fade in {{ store.store_id == 0 ? 'active' : '' }}" id="tab-store-{{ store.store_id }}">

                                <!--Module status-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_status">{{ entry_status }}</label>
                                    <div class="col-sm-10">

                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_status]" id="payment_multisafepay_status" class="form-control">
                                            <option value="1" {% if stores[store.store_id].payment_multisafepay_status == 1 %} selected {% endif %}>{{ Enabled }}</option>
                                            <option value="0" {% if stores[store.store_id].payment_multisafepay_status == 0 %} selected {% endif %}>{{ Disabled }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--MultiSafepay environment-->

                                    <label class="col-sm-2 control-label" for="payment_multisafepay_environment">{{ entry_environment }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_environment]" id="payment_multisafepay_environment" class="form-control">
                                            <option value="0" {% if stores[store.store_id].payment_multisafepay_environment == 0 %} selected {% endif %}>{{ Live }}</option>
                                            <option value="1" {% if stores[store.store_id].payment_multisafepay_environment == 1 %} selected {% endif %}>{{ Test }}</option>
                                        </select>
                                    </div>

                                    <!--MultiSafepay account type-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_account_type">{{ entry_account_type }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_account_type]" id="payment_multisafepay_account_type" class="form-control">
                                            <option value="connect"      {% if stores[store.store_id].payment_multisafepay_account_type == 'connect'      %} selected {% endif %}>{{ Connect }}</option>
                                            <option value="FastCheckout" {% if stores[store.store_id].payment_multisafepay_account_type == 'FastCheckout' %} selected {% endif %}>{{ FastCheckout }}</option>
                                        </select>
                                    </div>

                                    <!--Account settings-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_merchant_id">{{ entry_multisafepay_merchantid }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_merchant_id]" value="{{ stores[store.store_id].payment_multisafepay_merchant_id }}" id="payment_multisafepay_merchant_id" class="form-control" />
                                    </div>

                                    <!--siteid settings-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_site_id">{{ entry_multisafepay_siteid }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_site_id]" value="{{ stores[store.store_id].payment_multisafepay_site_id }}" id="payment_multisafepay_site_id" class="form-control" />
                                    </div>

                                    <!--site secure code-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_secure_code">{{ entry_multisafepay_secure_code }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_secure_code]" value="{{ stores[store.store_id].payment_multisafepay_secure_code }}" id="payment_multisafepay_secure_code" class="form-control" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_redirect_url">{{ entry_multisafepay_redirect_url }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_redirect_url]" id="payment_multisafepay_redirect_url" class="form-control">
                                            <option value="true"  {% if stores[store.store_id].payment_multisafepay_redirect_url == 'true'  %} selected {% endif %}>{{ Enabled }}</option>
                                            <option value="false" {% if stores[store.store_id].payment_multisafepay_redirect_url == 'false' %} selected {% endif %}>{{ Disabled }}</option>
                                        </select>
                                    </div>

                                    <!--Days active -->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_days_active">{{ entry_multisafepay_days_active }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_days_active]" value="{{ stores[store.store_id].payment_multisafepay_days_active }}" id="payment_multisafepay_days_active" class="form-control" />
                                    </div>

                                    {# -- Use logo's during checkout -- #}
                                    <label class="col-sm-2 control-label" for="environment">{{ entry_multisafepay_use_payment_logo }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_use_payment_logo]" id="payment_multisafepay_use_payment_logo" class="form-control">
                                            <option value="1" {% if stores[store.store_id].payment_multisafepay_use_payment_logo == '1' %} selected {% endif %}>{{ Yes }}</option>
                                            <option value="0" {% if stores[store.store_id].payment_multisafepay_use_payment_logo == '0' %} selected {% endif %}>{{ No }}</option>
                                        </select>
                                    </div>

                                    <!--Send confirmation e-mail -->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_confirm_order">{{ entry_confirm_order }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_confirm_order]" id="payment_multisafepay_confirm_order" class="form-control">
                                            <option value="1" {% if stores[store.store_id].payment_multisafepay_confirm_order == '1' %} selected {% endif %}>{{ Before }}</option>
                                            <option value="0" {% if stores[store.store_id].payment_multisafepay_confirm_order == '0' %} selected {% endif %}>{{ After }}</option>
                                        </select>
                                    </div>

                                    <!--Min/Max amount-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_min_amount">{{ entry_min_amount }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_min_amount]" value="{{ stores[store.store_id].payment_multisafepay_min_amount }}" id="payment_multisafepay_min_amount" class="form-control" />
                                    </div>

                                    <label class="col-sm-2 control-label" for="payment_multisafepay_max_amount">{{ entry_max_amount }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_max_amount]" value="{{ stores[store.store_id].payment_multisafepay_max_amount }}" id="payment_multisafepay_max_amount" class="form-control" />
                                    </div>

                                    <!--Geo-Zone-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_geo_zone_id">{{ text_all_zones }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_geo_zone_id]" id="payment_multisafepay_geo_zone_id" class="form-control">
                                            <option value="0">{{ text_all_zones }}</option>
                                            {% for geo_zone in geo_zones %}
                                                <option value="{{ geo_zone.geo_zone_id }}"{% if geo_zone.geo_zone_id == stores[store.store_id].payment_multisafepay_geo_zone_id %} selected {% endif %}>{{ geo_zone.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <!--Sorting-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_sort_order">{{ entry_sort_order }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_sort_order]" value="{{ stores[store.store_id].payment_multisafepay_sort_order }}" id="payment_multisafepay_sort_order" class="form-control" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <!--MultiSafepay fco button-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_enable_checkout_button_connect">{{ enable_checkout_button }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_enable_checkout_button_connect]" id="payment_multisafepay_enable_checkout_button_connect" class="form-control">
                                            <option value="true"  {% if stores[store.store_id].payment_multisafepay_enable_checkout_button_connect == 'true'  %} selected {% endif %}>{{ yes }}</option>
                                            <option value="false" {% if stores[store.store_id].payment_multisafepay_enable_checkout_button_connect == 'false' %} selected {% endif %}>{{ no }}</option>
                                        </select>
                                    </div>

                                    <!--FCO B2B-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_b2b">{{ entry_multisafepay_b2b }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_b2b]" id="payment_multisafepay_b2b" class="form-control">
                                            <option value="true"  {% if stores[store.store_id].payment_multisafepay_b2b == 'true'  %} selected {% endif %}>{{ Enabled }}</option>
                                            <option value="false" {% if stores[store.store_id].payment_multisafepay_b2b == 'false' %} selected {% endif %}>{{ Disabled }}</option>
                                        </select>
                                    </div>

                                    <!--fco free ship amount-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_fco_free_ship">{{ entry_multisafepay_fco_free_ship }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="stores[{{ store.store_id }}][payment_multisafepay_fco_free_ship]" value="{{ stores[store.store_id].payment_multisafepay_fco_free_ship }}" id="payment_multisafepay_fco_free_ship" class="form-control" />
                                    </div>
                                </div>


                                <div class="form-group">

                                    <!--set initialized status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_initialized">{{ entry_multisafepay_order_status_id_initialized }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_initialized]" id="payment_multisafepay_order_status_id_initialized" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_initialized %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set completed status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_completed">{{ entry_multisafepay_order_status_id_completed }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_completed]" id="payment_multisafepay_order_status_id_completed" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_completed %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set uncleared status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_uncleared">{{ entry_multisafepay_order_status_id_uncleared }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_uncleared]" id="payment_multisafepay_order_status_id_uncleared" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_uncleared %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set reserved status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_reserved">{{ entry_multisafepay_order_status_id_reserved }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_reserved]" id="payment_multisafepay_order_status_id_reserved" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_reserved %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set void status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_void">{{ entry_multisafepay_order_status_id_void }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_void]" id="payment_multisafepay_order_status_id_void" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_void %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set declined status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_declined">{{ entry_multisafepay_order_status_id_declined }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_declined]" id="payment_multisafepay_order_status_id_declined" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_declined %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set expired status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_expired">{{ entry_multisafepay_order_status_id_expired }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_expired]" id="payment_multisafepay_order_status_id_expired" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_expired %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set shipped status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_shipped">{{ entry_multisafepay_order_status_id_shipped }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_shipped]" id="payment_multisafepay_order_status_id_shipped" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_shipped %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set refunded status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_refunded">{{ entry_multisafepay_order_status_id_refunded }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_refunded]" id="payment_multisafepay_order_status_id_refunded" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_refunded %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--set partial_refunded status-->
                                    <label class="col-sm-2 control-label" for="payment_multisafepay_order_status_id_partial_refunded">{{ entry_multisafepay_order_status_id_partial_refunded }}</label>
                                    <div class="col-sm-10">
                                        <select name="stores[{{ store.store_id }}][payment_multisafepay_order_status_id_partial_refunded]" id="payment_multisafepay_order_status_id_partial_refunded" class="form-control">
                                            {% for order_status in order_statuses %}
                                                <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == stores[store.store_id].payment_multisafepay_order_status_id_partial_refunded %} selected {% endif %}>{{ order_status.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

