<div style="text-align: center;">
    <p>{{ text_failure }}</p>
    <p><b>{{ errorcode }}: {{ errorstring }}</b></p>

    <p>{{ text_failure_wait }} </p>
    <a href="{{ continue }}">{{ back_to_store }}</a>
</div>
